# Handle line endings automatically for files detected as text
# and leave binary files alone.
* text=auto

# Explicitly declare text files you want to always be LF or CRLF
*.cs text eol=crlf
*.shader text eol=crlf
*.cginc text eol=crlf
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.meta text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.psd binary
*.wav binary
*.mp3 binary
*.ogg binary
*.fbx binary
*.obj binary
*.blend binary
*.zip binary
*.unitypackage binary
*.unity eol=lf